.Paginate {
  display: none;
}
.Active {
  grid-area: pagination;
  display: grid;
  justify-content: center;
  margin-top: 10px;
}

.Paginate > ul {
  display: inline-block;
  margin-left: 25px;
  grid-template-rows: auto;
}
.Paginate > ul > li {
  float: left;
  margin-left: 5px;
}

.Paginate > ul > li > button {
  margin-right: auto;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.Paginate > ul > li > button.ActivePage {
  background-color: #161e64;
  padding: 5px;
  color: #ffffff;
}

.Paginate > ul > li > button:hover {
  background-color: #808080;
  color: #ffffff;
}
