* {
  outline-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  cursor: pointer;
}
.content {
  background-color: #c0c0c0;
  height: auto;
  padding-bottom: 1.5%;
  position: relative;
}
.main_Practice {
  max-width: 1920px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 2fr;
  grid-template-areas:
    "categoryList addTodoWrapper ."
    ". todoList .";
}
.TodoItemsList {
  display: grid;
  grid-area: todoList;
  height: max-content;
  background-color: #add8e6;
  align-self: stretch;
  align-content: start;
}
.todo-item {
  background-color: #f8fc11;
  margin: 15px;
  padding: 1.5%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.5fr 6.5fr repeat(2, 0.5fr);
  align-items: center;
  gap: 1%;
}
.todo-item:nth-child(odd) {
  background-color: #fca311;
}
.checkBoxItem {
  justify-self: center;
}
.todoItemInput {
  min-width: 50px;
}
.todo-item > p {
  color: #000000;
  justify-self: start;
  word-break: break-word;
  padding-left: 15px;
}
.textEdit {
  padding: 6px;
  border-radius: 5px;
  background-color: #c0c0c0;
  border: 1px solid #000000;
  justify-self: center;
}
.textEdit:hover {
  background-color: #5e5e5e;
  color: #ffffff;
}
.saveEditedText {
  background-color: #30ac30;
  justify-self: center;
  padding: 6px;
  border: 1px solid #000000;
  border-radius: 5px;
}
.showButton {
  display: block;
}
.hideButton {
  display: none;
}

.todoItemDelete {
  color: #ffffff;
  background-color: #ff0000;
  border: 1px solid #000000;
  padding: 6px;
  border-radius: 5px;
  justify-self: center;
}
.todoItemDelete:hover {
  background-color: #ffffff;
  color: #000000;
}

.practiceTop {
  background-color: #05668d;
  height: auto;
  display: grid;
  padding: 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
.addTodoWrapper {
  grid-area: addTodoWrapper;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 5px 10px;
  grid-template-areas:
    ". ."
    "inputTodoText addButton "
    ". .";
}
.inputTodoText {
  grid-area: inputTodoText;
  min-width: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #fa9a9a;
  justify-self: stretch;
  align-self: center;
}
.addButton {
  min-width: 50px;
  grid-area: addButton;
  background-color: #fca311;
  padding: 13px;
  border-radius: 5px;
  justify-self: stretch;
  align-self: center;
}

.countTodosButton {
  background-color: #ff0000;
  color: #05668d;
}

p.todoText {
  color: #000000;
  padding-left: 15px;
}
p.Completed {
  color: #008000;
  font-style: italic;
  text-decoration: line-through;
}
@media screen and (max-width: 600px) {
  .main_Practice {
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    grid-template-areas:
      "categoryList"
      "addTodoWrapper"
      "todoList";
    /* "footer"; */
    justify-items: center;
  }
  .addTodoWrapper {
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "inputTodoText addButton ";
  }
  .inputTodoText {
    padding: 10px;
    border-radius: 5px;
    background-color: #fa9a9a;
    justify-self: stretch;
    align-self: center;
  }
  .addButton {
    grid-area: addButton;
    background-color: #fca311;
    padding: 12px;
    border-radius: 5px;
    justify-self: stretch;
    align-self: center;
  }
  .TodoItemsList {
    width: 95%;
    grid-auto-rows: max-content;
  }
}
