* {
  outline-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  cursor: pointer;
}
.content {
  background-color: #c0c0c0;
  height: auto;
  padding-bottom: 1.5%;
  position: relative;
  /* height: 7vh; */
}
.main_Practice {
  max-width: 1920px;
  max-height: fit-content;
  margin: auto;
  display: grid;
  grid-template-areas:
    ". addTodoWrapper ."
    ". todoList .";
}
.TodoItemsList {
  display: grid;
  grid-area: todoList;
  height: max-content;
  /* background-color: #add8e6; */
  align-self: stretch;
  align-content: start;
}
.todo-item {
  background-color: #f8e16c;
  margin: 15px;
  padding: 1.5%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.5fr 6.5fr 1fr repeat(2, 0.5fr);
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.todo-item:nth-child(odd) {
  background-color: #fca211d5;
}
.checkBoxItem {
  justify-self: center;
}
.todoItemInput {
  min-width: 50px;
}
.todo-item > p {
  color: #000000;
  justify-self: start;
  word-break: break-word;
  padding-left: 15px;
}
.todoItemCategory {
  background-color: rgba(0, 153, 255, 0.521);
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  /* word-break: break-word; */
  padding: 5px;
}
.textEdit {
  padding: 6px;
  border-radius: 5px;
  background-color: #c0c0c0;
  border: 1px solid #000000;
  justify-self: center;
}
.textEdit:hover {
  background-color: #5e5e5e;
  color: #ffffff;
}
.saveEditedText {
  background-color: #30ac30cb;
  justify-self: center;
  padding: 6px;
  border: 1px solid #000000;
  border-radius: 5px;
}
.showButton {
  display: block;
}
.hideButton {
  display: none;
}

.todoItemDelete {
  color: #ffffff;
  background-color: #ff0000be;
  border: 1px solid #000000;
  padding: 6px;
  border-radius: 5px;
  justify-self: center;
}
.todoItemDelete:hover {
  background-color: #ffffff;
  color: #000000;
}

.practiceTop {
  background-color: #05668d;
  height: auto;
  display: grid;
  padding: 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "dateSelectorWrapper searchWrapper categoriesSelector";
}
.dateSelectorWrapper {
  display: grid;
  grid-area: dateSelectorWrapper;
  justify-self: center;
  align-self: stretch;
}
.dateSelector {
  border-radius: 10px;
}
.categoriesSelector {
  border-radius: 10px;
}
.searchWrapper {
  grid-area: searchWrapper;
  align-self: center;
}
.categoriesSelectorWrapper {
  display: grid;
  grid-area: categoriesSelector;
  justify-self: center;
  align-self: stretch;
}

.addTodoWrapper {
  margin: 10px auto 0px auto;
  grid-area: addTodoWrapper;
  border: 2px solid #79797969;
  background-color: #a4b8c4;
  border-radius: 15px;
  display: grid;
  width: 97%;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  gap: 5px 10px;
  grid-template-areas: "addTodoWrapperForm";
}
.addTodoWrapperForm {
  grid-area: addTodoWrapperForm;
  display: grid;
  margin: auto;
  width: 90%;
  grid-template-columns: 3fr 0.8fr 0.4fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  gap: 5px 15px;
  grid-template-areas:
    ". . ."
    "inputTodoText addTodoSelect addButton"
    ". . .";
}
.inputTodoText {
  padding-left: 10px;
  grid-area: inputTodoText;
  min-width: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #d3d3d3;
  justify-self: stretch;
  align-self: center;
}
input.inputTodoText::placeholder {
  color: rgb(0, 0, 0);
}
.addTodoSelect {
  grid-area: addTodoSelect;
  text-align: center;
  background-color: #f8e16c;
  border-radius: 10px;
  min-width: 50px;
}
.addButton {
  min-width: 50px;
  grid-area: addButton;
  background-color: #fca311;
  padding: 13px;
  border-radius: 5px;
  justify-self: stretch;
  align-self: center;
}

.countTodosButton {
  background-color: #ff00008f;
  color: #05668d;
}

p.todoText {
  color: #000000;
  padding-left: 15px;
}
p.Completed {
  color: #008000;
  font-style: italic;
  text-decoration: line-through;
}

/* @media screen and (max-width: 600px) {
  .main_Practice {
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr;
   
    grid-template-areas:
      "addTodoWrapper"
      "todoList";
    justify-items: center;
  }
  .addTodoWrapper {
    background-color: #ffff00;
    display: grid;
    width: 95%;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: 5px 10px;
  }
  .addTodoWrapperForm {
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 3fr 0.8fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 5px 15px;
    grid-template-areas: "inputTodoText addTodoSelect addButton";
  }
  .inputTodoText {
    padding-left: 10px;
    grid-area: inputTodoText;
    min-width: 50px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #fa9a9a;
    justify-self: stretch;
    align-self: center;
  }
  .addTodoSelect {
    min-width: 50px;
  }
  .addButton {
    min-width: 50px;
    background-color: #fca311;
    padding: 13px;
    border-radius: 5px;
    justify-self: stretch;
    align-self: center;
  }
  .TodoItemsList {
    width: 95%;
    grid-auto-rows: max-content;
  }
}
 */
