.Modal {
  position: absolute;
  background: #c0c0c0;
  border: 2px solid #000000;
  padding: 20px;
  display: grid;
  height: 200px;
  width: 300px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 40;
}
.modalWrapper {
  position: relative;
  display: grid;
  justify-content: center;
}
.modalWrapperForm {
  align-self: center;
}
.modalWrapperButtons {
  display: grid;
  margin: 5px;
}
.modalWrapperButtons > i {
  padding: 5px;
  margin: 5px;
}
