.Modal {
  position: absolute;
  background: #c0c0c0;
  border: 2px solid #000000;
  padding: 40px;
  display: grid;
  max-height: 200px;
  max-width: 300px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 40;
}
.modalWrapper {
  position: relative;
  display: grid;
}
.modalWrapperForm {
  display: grid;
  justify-items: end;
  margin-bottom: 10px;
}
.userNameWrapper {
  justify-content: end;
}
.nameTitle {
}
.userNameInput {
}

.messageWrapper {
}
.messageTitle {
}
.messageInput {
}

.emailWrapper {
}
.emailTitle {
}
.emailInput {
}

.modalWrapperButtons {
  display: grid;
  gap: 15%;
  margin-bottom: 10px;
}
