.header {
  min-height: 10vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  grid-area: header;
  grid-template-areas: ". headerSlogan themeModal";
  align-content: center;
}
.header--light {
  color: #000000;
  background-color: #05668d;
}
.header--dark {
  color: #ffffff;
  background-color: #022e3f;
}
.button--light {
  color: #000000;
}
.button--dark {
  color: #ffffff;
}
.headerSlogan {
  grid-area: headerSlogan;
  justify-self: center;
}

.themeModal {
  display: grid;
  grid-area: themeModal;
  justify-self: center;
}
.themeModalButton {
  background-color: inherit;
}
