button.menu-bars {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.sidebar.active {
  position: absolute;
  display: block;
  background-color: #d3d3d3;
  padding: 5px;
  height: 300px;
  width: 300px;
  left: 0;
  transition: 350ms;
}
.sidebar {
  display: none;
  position: fixed;
  left: -100%;
  transition: 850ms;
}
.sidebar-items {
  display: grid;
  align-self: center;
  justify-content: center;
  margin: 5px;
}
.sidebar-items > button {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
