footer {
  grid-area: footer;
  background-color: #05668d;
  grid-area: footer;
  padding: 1vh;
}
footer > p {
  display: flex;
  justify-content: center;
  justify-items: end;
  color: #f0efeb;
  margin: 5px;
}
footer a {
  color: #a8dadc;
  height: auto;
  text-decoration: none;
}
.Linkedin {
  margin-left: 5px;
}
